target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

build/
!**/src/main/**/build/
!**/src/test/**/build/

.DS_Store

/src/main/java/MiaouMcLibrairi
/src/main/resources
/Mc-file
/logs
/.idea
compose.yaml
.dockerignore
README.Docker.md
